        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">    </div>
                    <div class="col-lg-6">    
                        <div class="register-form">
                            <div class="row">
                                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-12">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <label>Họ và Tên</label>
                                        <input class="form-control" type="text" placeholder="Họ và Tên" formControlName="fullName">
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" placeholder="E-mail" formControlName="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Số điện thoại</label>
                                        <input class="form-control" type="text" placeholder="Số điện thoại" formControlName="phone">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tài khoản</label>
                                        <input class="form-control" type="text" placeholder="Tài khoản" formControlName="userName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Mật khẩu</label>
                                        <input class="form-control" type="text" placeholder="Mật khẩu" formControlName="password">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Ngày sinh</label>
                                        <input class="form-control" type="date"  formControlName="dateOfBirth">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Địa chỉ</label>
                                        <input class="form-control" type="text"  placeholder="Địa chỉ" formControlName="address">
                                    </div>
                                </div>
                                    <div class="col-md-12" style="text-align: center;">
                                        <button style="width: 200px;" class="btn">Đăng ký</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">    </div>
                   
                </div>
            </div>
        </div>