<div class="review">
    <div class="container-fluid">
        <div class="row align-items-center review-slider normal-slider">
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="assets/img/review-1.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Chị Mai</h2>
                        <h3>Khách hàng</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Cửa hàng uy tín, phục vụ nhiệt tình, tôi hài lòng với chính sách và cách phục vụ của nhân viên.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="assets/img/review-2.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Anh Tuân</h2>
                        <h3>Khách hàng</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                            Sản phẩm chất lượng tốt, giá cả phải chăng, tôi đã mua rất nhiều sản phẩm tại đây và khá hài lòng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="assets/img/review-3.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Chị Yến</h2>
                        <h3>Khách hàng</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                           Sản phẩm tuyệt vời, chất lượng ảnh chụp tốt,nhân viên tư vấn nhiệt tình.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
