@model WebBanMayAnh.Models.Page

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a asp-controller="AdminPages" asp-action="Index" asp-area="Admin" class="breadcrumb-item">Danh sách page</a>
                <span class="breadcrumb-item active">Tạo mới page</span>
            </nav>
        </div>
    </div>
    <form asp-action="Create" asp-controller="AdminPages" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">

                </div>
                <div class="m-b-15">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-save"></i>
                        <span>Tạo mới page</span>
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">THÔNG TIN PAGE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#product-edit-option">THÔNG TIN SEO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#product-edit-description">MÔ TẢ</a>
                </li>
            </ul>
        </div>
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-edit-basic">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productName">Tên Page</label>
                            <input type="text" class="form-control" id="productName" placeholder="Tên Page" asp-for="PageName">
                        </div>

                        <div class="form-group">
                            <label class="font-weight-semibold" for="productPrice">Ordering</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="Ordering" asp-for="Ordering">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productCategory">Công khai :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                            <span asp-validation-for="Published" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productCategory">Hình ảnh đại diện</label>
                            <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb" />
                            <span asp-validation-for="Thumb" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-edit-option">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productName">Mô tả ngắn</label>
                            <input type="text" class="form-control" id="productName" placeholder="Mô tả ngắn" asp-for="Title">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productPrice">MetaKey</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="MetaKey" asp-for="MetaKey">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productPrice">MetaDesc</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="MetaDesc" asp-for="MetaDesc">
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-edit-description">
                <div class="card">
                    <div class="card-body">
                        <textarea id="productDescription" asp-for="Contents" rows="100"></textarea>


                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
    @section Scripts{
        <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>

        <script>
            ClassicEditor
                .create(document.querySelector('#productDescription'),
                    {

                        ckfinder: { uploadUrl: '/images/page' }
                    })
                .catch(error => { console.error(error); });

            CKEDITOR.editorConfig = function (config) {
                config.removeDialogTabs = 'image:advanced;image:Link;link:advanced;link:upload';
                config.filebrowserImageUploadUrl = '/images/page' //Action for Uploding image
            };
        </script>
        <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
        <script src="~/Adminassets/vendors/quill/quill.min.js"></script>
        <script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>

    }
