<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="#">Danh sách sản phẩm</a></li>
      <li class="breadcrumb-item active">Giỏ hàng</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="cart-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-page-inner">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Sản phẩm</th>
                  <th>Đơn giá</th>
                  <th>Khuyến mại</th>
                  <th>Số lượng</th>
                  <th>Tổng tiền</th>
                  <th>Xóa</th>
                </tr>
              </thead>
              <tbody class="align-middle">
                <tr *ngFor="let item of productsInCart">
                  <td>
                    <div class="img">
                      <a href="#"
                        ><img src="assets/img/product-1.jpg" alt="Image"
                      /></a>
                      <p>{{ item.productName }}</p>
                    </div>
                  </td>
                  <td>{{ item.price | currency: "VND" }}</td>
                  <td>{{ item.sale }}%</td>
                  <td>
                    <div class="qty">
                      <button
                        class="btn-minus"
                        (click)="clickMinus(item.quantity)"
                      >
                        <i class="fa fa-minus"></i>
                      </button>
                      <input
                        type="text"
                        [(ngModel)]="item.quantity"
                        value="{{ item.quantity }}"
                      />
                      <button
                        class="btn-plus"
                        (click)="clickPlus(item.quantity)"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    {{
                      (item.quantity * item.price * (100 - item.sale)) / 100
                        | currency: "VND"
                    }}
                  </td>
                  <td>
                    <button (click)="delete(item)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-page-inner">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="coupon">
                <input
                  type="text"
                  #capoun
                  placeholder="Nhập mã khuyến mại"
                  (keyup.enter)="addKhuyenMai(capoun)"
                />
                <button type="button" (click)="addKhuyenMai(capoun)">
                  Mã khuyến mại
                </button>
              </div>
            </div>
            <div class="col-lg-4 col-md-12" *ngIf="maKhuyenMai != ''">
              <b class="myKhuyenMai alert-success">{{ maKhuyenMai | uppercase }} - Giảm {{valueSale}}%</b>
              &nbsp;
              <a (click)="huyKhuyenMai()" style="color: blue;" type="button">Hủy</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="cart-summary">
                <div class="cart-content">
                  <h1>Thông tin thanh toán</h1>
                  <p>Tổng số<span>{{totalPrice |  currency: "VND"}}</span></p>
                  <p>Phí vận chuyển<span>30,000 VNĐ</span></p>
                  <h2>Tổng thanh toán<span>{{totalCost |  currency: "VND"}}</span></h2>
                </div>
                <div class="cart-btn">
                  <button>Cập nhật giỏ hàng</button>
                  <button (click)="checkOut()">Thanh toán</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->
