<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Đăng nhập</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="login-form">
                    <div class="row">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                            <div class="col-md-6">
                                <label>Tên đăng nhập</label>
                                <input class="form-controlLogin" type="text" placeholder="Tên đăng nhập"
                                    formControlName="username">
                            </div>
                            <div class="col-md-6">
                                <label>Mật khẩu</label>
                                <input class="form-controlLogin" type="text" placeholder="Mật khẩu"
                                    formControlName="password">
                            </div>
                            <div class="col-md-6">
                                <button class="btn">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</div>