<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Bảo mật thanh toán</h2>
                    <p>
                       Phương thức thanh toán an toàn, bảo mật tuyệt đối.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Miễn phí vận chuyển</h2>
                    <p>
                       Miễn phí vận chuyển cho đơn hàng từ 0 đồng.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>Đổi trả nhanh chóng</h2>
                    <p>
                      Đổi trả hàng nhanh chóng, thủ tục tiện lợi.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>Hỗ trợ 24/7</h2>
                    <p>
                        Luôn luôn hỗ trợ khách hàng nhiệt tình.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>