@model WebBanMayAnh.ViewModel.ChangePasswordViewModel


<div class="myaccount-details">
    <form asp-action="ChangePassword" method="post" asp-controller="Account" class="myaccount-form">
        <div class="myaccount-form-inner">
            <div class="single-input">
                <label>
                    Mật khẩu hiện tại
                </label>
                <input asp-for="NewPassword" type="password">
            </div>
            <div class="single-input">
                <label>
                    Mật khẩu mới
                </label>
                <input asp-for="OldPassword" type="password">
            </div>
            <div class="single-input">
                <label>Xác nhận mật khẩu</label>
                <input asp-for="ConfrimPassword" type="password">
            </div>
            <div class="single-input">
                <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                    <span>Lưu thay đổi</span>
                </button>
            </div>
        </div>
    </form>
</div>

