@model WebBanMayAnh.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <!--<div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">-->
    @*<div class="col-lg-12">
            <div class="breadcrumb-item">
                <h2 class="breadcrumb-heading">Product Related</h2>
                <ul>
                    <li>
                        <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                    </li>
                    <li>Login | Register</li>
                </ul>
            </div>
        </div>*@
    <!--</div>
        </div>
    </div>-->
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6 pt-10 pt-lg-0">
                    <form asp-action="DangKyTaiKhoan">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <h4 style=" text-align:center" class="login-title">Đăng ký tài khoản</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Họ và Tên*</label>
                                    <input asp-for="FullName" type="text" placeholder="Họ và Tên">
                                </div>
                                <div class="col-md-12">
                                    <label>Email*</label>
                                    <input type="email" asp-for="Email" placeholder="Email Address">
                                </div>
                                <div class="col-md-12">
                                    <label>Số điện thoại*</label>
                                    <input type="tel" asp-for="Phone" placeholder="Số điện thoại">
                                </div>
                                <div class="col-md-12">
                                    <label>Địa chỉ liên hệ*</label>
                                    <input type="text" asp-for="Address" placeholder="Địa chỉ liên hệ">
                                </div>
                                <div class="col-md-6">
                                    <label>Mật khẩu</label>
                                    <input type="password" asp-for="Password" placeholder="Mật khẩu">
                                </div>
                                <div class="col-md-6">
                                    <label>Xác nhận mật khẩu</label>
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Xác nhận mật khẩu">
                                </div>
                                <div class="col-12" style="text-align:center">
                                    <button type="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Đăng ký</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->