<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Liên hệ</h2>
          <div class="contact-info">
            <p><i class="fa fa-map-marker"></i>123 E Store, Cầu giấy, Hà Nội</p>
            <p><i class="fa fa-envelope"></i>DinhNhoSon@gmail.com</p>
            <p><i class="fa fa-phone"></i>+123-456-7890</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Theo dõi chúng tôi</h2>
          <div class="contact-info">
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Thông tin</h2>
          <ul>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Điều khoản & Điều kiện</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Thông tin mua hàng</h2>
          <ul>
            <li><a href="#">Chính sách thanh toán</a></li>
            <li><a href="#">Chính sách vận chuyển</a></li>
            <li><a href="#">Chính sách hoàn trả</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row payment align-items-center">
      <div class="col-md-6">
        <div class="payment-method">
          <h2>Phương thức thanh toán :</h2>
          <img src="assets/img/payment-method.png" alt="Payment Method" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="payment-security">
          <h2>Bảo mật bởi :</h2>
          <img src="assets/img/godaddy.svg" alt="Payment Security" />
          <img src="assets/img/norton.svg" alt="Payment Security" />
          <img src="assets/img/ssl.svg" alt="Payment Security" />
        </div>
      </div>
    </div>
  </div>
</div>
