@model WebBanMayAnh.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="Edit" asp-controller="AdminProducts" asp-route-id="@Model.ProductID" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductID" />
    <input type="hidden" asp-for="Thumb" />
    <input type="hidden" asp-for="DateCreated" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">

            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin cơ bản</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Thông tin chi tiết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Nội dung</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="productName" placeholder="Tên sản phẩm" asp-for="ProductName">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Giá bán</label>
                            <input type="number" class="form-control" id="productPrice" placeholder="Giá bán" asp-for="Price">
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Giảm giá</label>
                            <input type="number" class="form-control" id="productPrice" placeholder="Giảm giá" asp-for="Discount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Số lượng</label>
                            <input type="number" class="form-control" id="productPrice" placeholder="Số lượng" asp-for="Inventory">
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Bảo hành (Tháng)</label>
                            <input type="number" class="form-control" id="productPrice" placeholder="Bảo hành" asp-for="Insurance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Danh mục sản phẩm</label>
                            <select class="custom-select" asp-for="CatID" asp-items="ViewBag.DanhMuc">
                                <option disabled selected>Chọn danh mục sản phẩm</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Hãng sản xuất</label>
                            <select class="custom-select" asp-for="SupplierID" asp-items="ViewBag.NhaCungCap">
                                <option disabled selected>Chọn danh mục nhà sản xuất</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productCategory">Hình ảnh đại diện</label>
                        <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb"  value="@Model.Thumb"/>
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Mô tả ngắn</label>
                        <input type="text" class="form-control" id="productName" placeholder="Mô tả ngắn" asp-for="ShortDesc">
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Phụ kiện</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="Phụ kiện" asp-for="Accessory">
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Độ phân giải</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="Bảo hành" asp-for="Sensor">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">ISO</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="ISO" asp-for="ISO">
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Tốc độ màn chụp</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="Tốc độ màn chụp" asp-for="ShutterSpeed">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">MetaKey</label>
                        <input type="text" class="form-control" id="productPrice" placeholder="MetaKey" asp-for="MetaKey">
                    </div>

                    @*<div class="row">
                            <div class="form-group">
                                <label class="font-weight-semibold" for="productPrice">Alias</label>
                                <input type="text" class="form-control" id="productPrice" placeholder="Alias" asp-for="Alias">
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productCategory">Trạng thái :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)

                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productPrice">MetaDesc</label>
                        <input type="text" class="form-control" id="productPrice" placeholder="MetaDesc" asp-for="MetaDesc">
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <textarea id="productDescription" asp-for="Description" rows="100"></textarea>


                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/33.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#productDescription'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
    <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/Adminassets/vendors/quill/quill.min.js"></script>
    <script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>

}