@model WebBanMayAnh.Models.Supplier

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a asp-area="Admin" asp-controller="AdminSuppliers" asp-action="Index" class="breadcrumb-item">Danh sách nhà cung cấp</a>
                <span class="breadcrumb-item active">Chi tiết nhà cung cấp</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin nhà cung cấp</h4>
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>ID :</td>
                            <td class="text-dark font-weight-semibold"> @Html.DisplayFor(model => model.SupplierID)</td>
                        </tr>
                        <tr>
                            <td> Tên nhà cung cấp :</td>
                            <td class="text-dark font-weight-semibold"> @Html.DisplayFor(model => model.SupplierName)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary btn-tone m-r-5" asp-action="Edit" asp-route-id="@Model.SupplierID"> Sửa</a>
    <a class="btn btn-secondary btn-tone m-r-5" asp-action="Index">Trở về</a>
</div>
