@model WebBanMayAnh.Models.Supplier

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminSuppliers" asp-action="Index" class="breadcrumb-item">Danh sách nhà cung cấp</a>
            <span class="breadcrumb-item active">Sửa nhà cung cấp</span>
        </nav>
    </div>
</div>

<div>
    <form asp-action="Edit">
        <input type="hidden" @Model.SupplierID />
        <div class="form-group">
            <label for="formGroupExampleInput">Tên nhà cung cấp</label>
            <input type="text" class="form-control" asp-for="SupplierName" placeholder="Tên nhà cung cấp">
        </div>
        <div class="form-group">
            <input type="submit" value="Sửa" class="btn btn-primary btn-tone m-r-5" />
            <a class="btn btn-secondary btn-tone m-r-5" asp-action="Index">Trở về</a>
        </div>
    </form>
</div>