<div class="product-item">
    <div class="product-title">
        <a href="#">{{product.name}}</a>
        <div class="ratting">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
    </div>
    <div class="product-image">
        <a href="product-detail.html">
            <img src="assets/img/product-6.jpg" alt="Product Image">
        </a>
        <div class="product-action">
            <a (click)="addToCart(product)"><i class="fa fa-cart-plus"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a  [routerLink]="['/detail', product.id]"
            routerLinkActive="router-link-active" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" ><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="product-price">
        <h3>{{newPrice| currency: "VND"}}<span *ngIf="oldPrice !== newPrice">{{ oldPrice|  currency: "VND" }}</span></h3>
        <button class="btn " type="button"(click)="addToCart(product)"><i class="fa fa-shopping-cart"></i>Mua ngay</button>
    </div>
</div>