<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    
                    <a  routerLink="/home" routerLinkActive="active"class="nav-item nav-link active">Home</a>
                    <a routerLink="/products" routerLinkActive="active" class="nav-item nav-link">Products</a>
                    <a [routerLink]="['/product-detail']" routerLinkActive="router-link-active"  class="nav-item nav-link">Product Detail</a>
                    <a routerLink="/cart" routerLinkActive="active" class="nav-item nav-link">Cart</a>
                    <a [routerLink]="['/checkout']" routerLinkActive="router-link-active"  class="nav-item nav-link">Sale</a>
                    <a routerLink="/my-account" routerLinkActive="active" class="nav-item nav-link">My Account</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                        <div class="dropdown-menu">
                            <a href="wishlist.html" class="dropdown-item">Wishlist</a>
                            <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="dropdown-item">Login & Register</a>
                            <a [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="dropdown-item">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">TÀI KHOẢN</a>
                        <div class="dropdown-menu">
                            <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="dropdown-item">ĐĂNG NHẬP</a>
                            <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="dropdown-item">ĐĂNG KÝ</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>