<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Thanh toán</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Thông tin thanh toán</h2>

                        <form [formGroup]="currentUserForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Họ và tên</label>
                                    <input class="form-control" type="text" placeholder="Họ và tên"  formControlName="fullName"/>
                                </div>

                                <div class="col-md-12">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="E-mail" formControlName="email" />
                                </div>
                                <div class="col-md-12">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" type="text" placeholder="Điện thoại" formControlName="phone"/>
                                </div>
                                <div class="col-md-12">
                                    <label>Địa chỉ giao hàng</label>
                                    <input class="form-control" type="text" placeholder="Địa chỉ giao hàng" formControlName="address" />
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="shipto"
                                            (click)="myFunction()" />
                                        <label class="custom-control-label" for="shipto">Chọn địa chỉ giao hàng
                                            khác</label>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div id="mytext" class="shipping-address">
                        <h2>Địa chỉ giao hàng</h2>

                        <form [formGroup]="currentUserForm2" (ngSubmit)="onSubmit()">
                            <div class="row">
                            <div class="col-md-12">
                                <label>Họ và tên</label>
                                <input class="form-control" type="text" placeholder="Họ Và Tên" formControlName="fullName1" />
                            </div>

                            <div class="col-md-12">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="E-mail" formControlName="email1" />
                            </div>
                            <div class="col-md-12">
                                <label>Số điện thoại No</label>
                                <input class="form-control" type="text" placeholder="Số điện thoại" formControlName="phone1"/>
                            </div>
                            <div class="col-md-12">
                                <label>Địa chỉ</label>
                                <input class="form-control" type="text" placeholder="Địa chỉ giao hàng" formControlName="address1" />
                            </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="checkout-inner">
                <div class="checkout-summary">
                    <h1>Thanh toán</h1>
                    <p class="sub-total">Thành tiền<span>{{ total_price | currency: "VND" }}</span></p>
                    <p class="ship-cost">Hạng thành viên<span>{{customerRank}}</span></p>
                    <p class="ship-cost" ngif>Giảm giá<span>{{dissCount}}%</span></p>
                    <h2>Thanh toán tiền<span>{{totalCost| currency: "VND"}}</span></h2>
                </div>

                <div class="checkout-payment">
                    <div class="payment-methods">
                        <h1>Phương thức</h1>
                        <div class="payment-method">
                            <div class="custom-control custom-radio">
                                <input type="radio" (click)="myFunction3()" class="custom-control-input" id="payment-1" name="payment" />
                                <label class="custom-control-label" for="payment-1">Thanh toán trực tiếp</label>
                            </div>
                            
                        </div>
                        <div class="payment-method">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" (click)="myFunction2()" id="payment-2" name="payment" />
                                <label class="custom-control-label" for="payment-2">Chuyển khoản</label>
                            </div>
                            <div class="payment-content" id="payment-2-show">
                                <p>
                                    (Nội dung chuyển khoản ghi mã đơn hàng cần thanh toán)
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="checkout-btn">
                        <button (click)="onSubmit()">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Checkout End -->